html,
body {
  height: 100%;
  width:100%;
  display:flex;
}

/*https://dev.to/domysee/keeping-the-footer-at-the-bottom-with-css-flexbox-5h5f*/
.container {
  font-family: "Roboto";
  width:30%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.subcontainer, .footer {
  flex-shrink: 0;
}

.subcontainer {
  flex-grow: 1;
}

#mapid{
  width:70%; height:100%;
}
h2 {
  text-align: center;
  margin-bottom: 10px;
}

h4 {
  text-align: center;
  margin-bottom: 10px;
}

.sigle {
  /* height: 15%; */
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.sigle img {
  align-self: flex-end;
  max-height: 90px;
  max-width: 90px;
  width: 100%;
}

.logo {
  display: block;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

input {
  text-align: center;
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  /* display: block; */
  width: 80px;
  border: none;
  border-bottom: 1px solid #757575;
}

input:focus {
  outline: none;
}

form {
  display: table;
}
p {
  display: table-row;
}
label {
  display: table-cell;
}
input {
  display: table-cell;
}

#pvcalculator {
  margin-left: auto;
  margin-right: auto;
}

.subcontainter {
  text-align: center;
}

button {
  margin-bottom: 7px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 120px;
}

#toutput {
  padding: 3px;
  border: 3px solid #cdcdcd;
  max-width: 40%;
  margin: auto;
  margin-bottom: 7px;
}
